// main: user.pug

.t-user-moneys
	._fadein._p(v-if=" data.user_money ")
		.-item
			span.-label Cash:
			span.-value ${{ formatCurrency(data.user_money.money_onhand) }}
		.-item
			span.-label Vault:
			span.-value ${{ formatCurrency(data.user_money.vault_amount) }}
		.-item(v-if=" data.user_money.city_bank ")
			span.-label City Bank:
			span.-value ${{ formatCurrency(data.user_money.city_bank.amount) }}
		.-item
			span.-label Cayman Bank:
			span.-value ${{ formatCurrency(data.user_money.cayman_bank) }}
		.-item
			span.-label Networth:
			span.-value ${{ formatCurrency(data.user_money.networth) }}
		.-item
			span.-label Points:
			span.-value {{ formatCurrency(data.user_money.points) }}
	._fadein._p._tag._text-grey(v-else-if="data.user_money==(void 0)")
		i.material-icons._spin sync
		|
		| Loading...
	._fadein._p._tag._text-grey(v-else)
		| Unable to count your money.
		!=' '
		a._a(@click=" sync(TORN.USER_MONEY) ") Try reload
//-user-money
