hr
section.t-user-moneys
	._(v-if=" db.user_money ")
		._error(v-if=" db.user_money.error ")
			._message._tag
				span(v-html=" getErrorMessage('T-14',db.user_money.error) ") 
				button._a(@click="loadData('user_money')") Reload
		._(v-else)
			.t-reload
				button._a(@click="loadData('user_money')") Reload
			._
				.t-item
					span.t-label Cash:
					span.t-value ${{ formatCurrency(db.user_money.money_onhand) }}
				.t-item
					span.t-label Vault:
					span.t-value ${{ formatCurrency(db.user_money.vault_amount) }}
				.t-item(v-if=" db.user_money.city_bank ")
					span.t-label City Bank:
					span.t-value ${{ formatCurrency(db.user_money.city_bank.amount) }}
				.t-item
					span.t-label Cayman Bank:
					span.t-value ${{ formatCurrency(db.user_money.cayman_bank) }}
				.t-item
					span.t-label Networth:
					span.t-value ${{ formatCurrency(db.user_money.networth) }}
				.t-item
					span.t-label Points:
					span.t-value {{ formatCurrency(db.user_money.points) }}
	.t-notLoaded(v-else)
		p
			button._a(@click="loadData('user_money')") Show Money
//-user-money
